
@media all and (max-width:1420px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (max-width:1200px){
/* every thing is okay */
}
@media all and (max-width:991px){
   /* every thing is okay */
}
@media all and (max-width:768px){
    .heading-div{
        flex-direction: column;
    }
    .nav-menu{
        margin-bottom: 30px;
    }
    .nav-menu a{
        font-size: 18px;
        padding: 5px;
        margin: 0 10px;
    }
    .my-images{
        flex-direction: column;
    }
    .image{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .portfolio-items img{
        width: 47%;
    }
    .blog-text img{
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 25px;
    }
    form input,form textarea{
        width: 95%;
    }
}

@media all and (max-width:480px){ 
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-menu{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -120px;
    }
    .nav-menu a{
        font-size: 24px;
        margin: 20px;
    }
    .hamburger-menu{
        display: inline;
    }

}
@media alland (max-width:320px){
    /* every thing is okay */
}

























