/**************
default
imperial priner:#222f3e;
wild caribean green:#1dd1a1;
light grey:#fbfbfb;
grey:#ccc;
*/
*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'ubuntu',sans-serif;
    
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration:none;
    
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    
    background-color: #fff;
}
body{
    background-color: #fafafa;
}
header h1{
    background-color:#222f3e ;
    color: #fff;
    font-family: pacifico;
    padding-left: 70px;

}
header h1 span{
    margin-left: 5px;
    color: #1dd1a1;
}
.nav-menu{
    padding: 10px 0 10px 120px;
}
.nav-menu a{
    color: #ccc;
    text-transform: uppercase;
}
.nav-menu a:hover{
    color: #222f3e;
    font-weight: 700;
}
.nav-menu li{
    padding: 20px;
}
.header-img{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0)),url(../img/1.jpg);
    backgrount-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
}
.header-img h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;;
}
.header-img p{
    margin: 20px 170px;
    text-align: center;
    width: 50%;
}
.journey-ways{
    width: 90%;
    margin: auto;
    padding: 50px;
    margin-bottom:50px;
    
}
.journey-ways h2{
    text-align: center;
    text-transform: uppercase;
    color: #222f3e;
    font-size:35px;
    font-weight: 300;
}
.journey-ways h2 span{
    color:#1dd1a1;
    font-weight: 700;
}
#journey-explain{
    color: #222f3e;
    text-align: center;
    margin-top: 15px;
}
.travel-ways{
    display: flex;
    margin-top: 50px;
    text-align: center;

}
.ways-to-travel img{
    width: 50%;
    
}
.ways-to-travel{
padding: 0 20px 0 20px;

}
.ways-to-travel h3{
    text-transform: uppercase;
    margin-top: 15px;
    color: #222f3e;
}
.ways-to-travel h3 span{
    color:#1dd1a1;
}
.ways-to-travel p{
    color: #222f3e;
    margin-top: 10px;
}
.city-images{
    padding-bottom: 40px;
    background-color: #1dd1a1;
    color:  #222f3e;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    

    
    
}
.images-of-city{
    display: flex;
    padding-bottom: 10px;
    
    width: 1000px;
}
.city-image img{
    width: 300px;
     padding: 10px;
}
.last-three-images{
    display: flex;
    padding-bottom: 20px;
    background-color: #fff;
    width:0px;
    
}

.city-image{
    
    padding: 10px 0 10px 10px;
     
    
}
.city-image  p{
    width: 300px;;
    padding-left: 5px;
    padding-top:40px; 
    
    background-color: #fff;
   

}
.city-image h3{
    padding-top: 20px;
    padding-right: 10px;
}
footer{
    text-align: center;
    background-color:#222f3e;
    color: #fff;
    padding: 20px 70px;
}
































































